APP_DEBUG=true
APP_URL="http://localhost"
APP_KEY="opm2sCvgMiBxf4B2z8EMGqiqartSsYdw"

DB_CONNECTION="sqlite"
DB_DATABASE="storage/database.sqlite"

CACHE_DRIVER="file"

SESSION_DRIVER="file"

QUEUE_CONNECTION="sync"

MAIL_MAILER="smtp"
MAIL_ENCRYPTION="null"
MAIL_HOST="smtp.mailgun.org"
MAIL_PASSWORD="null"
MAIL_PORT=587
MAIL_USERNAME="null"

ROUTES_CACHE=false
ASSET_CACHE=false
LINK_POLICY="detect"
ENABLE_CSRF=true
DATABASE_TEMPLATES=false
