<!-- Footer -->
<footer>
    <div class="left-links">
        <img src="https://pub-a012c65ca1384df0a3e2c41cb4b36f5c.r2.dev/placeholders/P-15de0cdf-e380-4f7b-8ffc-24fbbb1fe92c.png" class="windows-logo"><a href="#">Privacy</a> |
        <img src="https://pub-a012c65ca1384df0a3e2c41cb4b36f5c.r2.dev/placeholders/L-9406422a-38aa-4639-bd35-fb84b0c8035b.png" class="windows-logo"><a href="#">Legal</a>
    </div>
    <div class="copyright">
        &copy; 2026 COHERENT
    </div>
    <div class="right-links">
        <img src="https://pub-a012c65ca1384df0a3e2c41cb4b36f5c.r2.dev/placeholders/P-66f3db23-b3e6.png" class="windows-logo"><a href="#">Statistics</a> |
        <img src="https://pub-a012c65ca1384df0a3e2c41cb4b36f5c.r2.dev/placeholders/S-55761e4d-dcfa.png" class="windows-logo"><a href="{{ '/sitemap.xml'|app }}">Site Map</a>
    </div>
</footer>
