<header>
    <a href="{{ '/'|app }}" class="logo">
        <span class="butterfly"></span>
        <span>MSN</span>
    </a>
    <div class="search-bar">
        <input type="text" placeholder="Web Search">
        <button type="button">Search</button>
    </div>
</header>

<nav>
    <ul>
        <li><a href="{{ '/'|app }}">Home</a></li>
        <li><a href="{{ '/style-test'|app }}">Style Test</a></li>
        <li><a href="{{ '/forum'|app }}">Forums</a></li>
        <li><a href="#">Hotmail</a></li>
        <li><a href="#">Messenger</a></li>
    </ul>
</nav>
