<div class="box">
    <h3>Search</h3>
    <form id="search_form" action="{{ 'search'|page }}">
        <input type="search" id="search_input" placeholder="e.g. Market Trends..." />
        <button type="submit" class="btn" style="width:100%; margin-top:10px;">Go</button>
    </form>
</div>

<div class="box">
    <h3>Navigation</h3>
    <ul class="nav-list">
        {% component 'sideMenu' %}
    </ul>
</div>

<div class="box">
    <h3>Pro-Resources</h3>
    <details>
        <summary>Job Stats</summary>
        <div class="details-content">
            <ul class="nav-list">
                <li><a href="#">Craigslist Jobs</a></li>
                <li><a href="#">Jobble Stats</a></li>
            </ul>
        </div>
    </details>
    <details>
        <summary>Tools</summary>
        <div class="details-content">
            <ul class="nav-list">
                <li><a href="#">E-Card</a></li>
                <li><a href="#">Note Pad</a></li>
                <li><a href="#">Dictionary</a></li>
                <li><a href="#">HTML-to-Markdown</a></li>
            </ul>
        </div>
    </details>
</div>

{% if show_ratings %}
<div class="box">
    <h3>Rate This Page</h3>
    <div class="details-content">
        {% component 'vote' %}
    </div>
</div>
{% endif %}

<div style="text-align:center; opacity: 0.5; font-size:10px;">
    ADVERTISEMENT
</div>
